@charset "UTF-8";

@import url("/assets/css/component.css");

html,body {width:100%; height:100%; min-height:100%;}
body {-webkit-text-size-adjust:none; word-break:break-all; line-height:1.4; color:#000; letter-spacing:-0.04rem;}
body,button,dd,dl,dt,fieldset,form,input,legend,li,ol,p,select,table,td,textarea,th,ul,h1,h2,h3,h4,h5,h6 {margin:0; padding:0; -webkit-box-sizing:border-box; box-sizing:border-box;}
body,button,input,select,table,textarea {font-size:1.6rem; font-weight:400; font-family:'Pretendard','Malgun Gothic',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
table {table-layout:fixed; width:100%; border-spacing:0;}
caption,
legend {overflow:hidden!important;position:absolute !important;width:1px !important;height:1px !important;clip:rect(0 0 0 0)!important;margin:-1px !important;padding:0!important;color:transparent!important;}
ol,ul {list-style:none;}
em,address {font-style:normal;}
img,fieldset,iframe {border:0;}
img {max-width:100%;height:auto;vertical-align:top;}
a {display:inline-block; color:inherit; text-decoration:none;}
a:hover {text-decoration:none;}
area {outline:none}
input,select,textarea,button {border:0; border-radius:0; -webkit-appearance:none; appearance:none;}
button {background-color:transparent; color:inherit; cursor:pointer;}
input::-ms-clear,
input::-ms-reveal {display:none; width:0; height:0;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {display:none;}
input[type=date]::-webkit-inner-spin-button {display:none;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-calendar-picker-indicator {display:none;}
input[type=number] {-moz-appearance:textform;}
input::-webkit-input-placeholder {color:#919191; text-align: left;}
input[type=text]:focus,
input[type=date]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=password]:focus {border: 1px solid #9653f7; outline:0;}
textarea:focus {border: 1px solid #9653f7; outline:0;}
select::-ms-expand {display:none;}
select:required:invalid {color:#1e1e1e;}
select:focus {border: 1px solid #9653f7 !important; outline:0;}
option {color:#000}
option[value=""][disabled] {display:none;}

/* Set Class */
.hidden {overflow:hidden!important;position:absolute !important;width:1px !important;height:1px !important;clip:rect(0 0 0 0)!important;margin:-1px !important;padding:0!important;color:transparent!important;}
.dimmed {position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); filter:alpha(opacity=60); touch-action:none; z-index:200;}
.eps {display:inline-block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.top {vertical-align:top !important;}
.middle {vertical-align:middle !important;}
.bottom {vertical-align:bottom !important;}
.clearfix:after {display:table; content:''; clear:both;}
.required {display:inline-block; position:relative; text-indent:-9999em;}
.required:after {content:'*'; display:block; position:absolute; top:0; left:0; width:1rem; height:2rem; color:#de001b; font-weight:700; text-indent:0;}
.inline {display:inline-block; vertical-align:middle;}
.block {display:block !important;}
.none {display:none !important;}
.scroll {overflow:auto; position:relative; width:100%;}
.link-txt,
.underline{text-decoration: underline;}
.linethrough{text-decoration: line-through;}
.link-txt:hover {color:#9653f7; text-decoration: underline;}
.dev-nofix {min-height:2000px !important;}
.keep-a {word-break:keep-all !important;}
.masking {overflow:hidden; width:100%; word-break:keep-all; word-wrap:break-word;}
.hidden-loop {font-size: 0; line-height: 0; text-shadow: none; color: transparent; display: inline-block; opacity: 0 !important; overflow: hidden !important; position: absolute; word-break: break-all; z-index: -10 !important;}

/* flex */
.flex {display: flex;}
.flex-col {flex-direction: column !important;}
.flex-row {flex-direction: row !important;}
.flex-col-reverse {flex-direction: column-reverse !important;}
.flex-wrap {flex-wrap:wrap;}
.items-start {align-items: flex-start !important;}
.items-end {align-items: flex-end !important;}
.items-center {align-items: center !important;}
.items-baseline {align-items: baseline !important;}
.items-stretch {align-items: stretch !important;}
.justify-start {justify-content: flex-start !important;}
.justify-end {justify-content: flex-end !important;}
.justify-center {justify-content: center !important;}
.justify-between {justify-content: space-between !important;}

/* text size & color & align */
.fs-s12 {font-size:1.2rem; line-height: 1.6rem;}
.fs-s14 {font-size:1.4rem; line-height: 1.8rem;}
.fs-s15 {font-size:1.4rem; line-height: 1.9rem;}
.fs-s16 {font-size:1.6rem; line-height: 2rem;}
.fs-s18 {font-size:1.8rem; line-height: 2.2rem;}
.fs-s20 {font-size:2rem; line-height: 2.4rem;}

.fc01 {color:var(--fc-01);}
.fc02 {color:var(--fc-02);}
.fc03 {color:var(--fc-03);}
.fc04 {color:var(--fc-04);}
.fc05 {color:var(--fc-05);}
.fc06 {color:var(--fc-06);}
.fc07 {color:var(--fc-07);}
.fc08 {color:var(--fc-08);}
.fc09 {color:var(--fc-09);}
.fc10 {color:var(--fc-10);}

.txt-left {text-align:left !important;} 
.txt-right {text-align:right !important;}
.txt-center {text-align:center !important;}

/* width */
.w-20 {width:20%;}
.w-40 {width:40%;}
.w-45 {width:45%;}
.w-50 {width:50%;}
.w-60 {width:60%;}
.w-80 {width:80%;}
.full {width:100%;}

/* margin */
.mg-0 {margin:0 !important;}
.mt-0 {margin-top:0 !important;}
.ml-0 {margin-left:0 !important;}
.mr-0 {margin-right:0 !important;}
.mb-0 {margin-bottom:0 !important;}

.mt-5 {margin-top:.5rem !important;}
.mt-10 {margin-top:1rem !important;}
.mt-15 {margin-top:1.5rem !important;}
.mt-20 {margin-top:2rem !important;}
.mt-24 {margin-top:2.4rem !important;}
.mt-30 {margin-top:3rem !important;}
.mt-40 {margin-top:4rem !important;}
.mt-50 {margin-top:5rem !important;}
.mt-60 {margin-top:6rem !important;}

/* padding */
.pd-0 {padding:0 !important;}
.pt-0 {padding-top:0 !important;}
.pl-0 {padding-left:0 !important;}
.pr-0 {padding-right:0 !important;}
.pb-0 {padding-bottom:0 !important;}

/* border */
.bd-0 {border:0 !important;}
.bt-0 {border-top: 0 !important;}
.bdl-0 {border-left: 0 !important;}
.bdr-0 {border-right: 0 !important;}
.bdb-0 {border-bottom: 0 !important;}

/* Title */
.title-group {display: flex; align-items: center; justify-content: space-between; margin-bottom:2rem;}
.title-group .aside {display:flex; align-items: center; gap:1rem;}
.title-group .sub-text {margin-top:.4rem; font-size:1.4rem; font-weight: 400; color:var(--fc-04);}
.page-tit {font-size:2.6rem; font-weight:600; line-height:3.2rem;}
.tit-m {font-size:2rem; font-weight:600; line-height:2.6rem;}
.tit-s {font-size:1.8rem; font-weight:600; line-height:2.4rem;}
.tit-xs {font-size:1.6rem; font-weight:600; line-height:2.2rem;}

/* text-list */
.text-list li {position:relative; margin-top:.4rem; font-size:1.4rem; line-height:1.8rem;}
.text-list.sm li {margin-top:.2rem; font-size:1.2rem; line-height:1.6rem;}
.text-list li:first-child {margin-top:0;}

.text-list.bullet li {padding-left:1rem;}
.text-list.bullet li:before {content:''; position:absolute; top:.7rem; left:0; width:.4rem; height:.4rem; background:#323232; border-radius:50%;}
.text-list.sm.bullet li:before {top:.6rem; width:.3rem; height:.3rem;}

.text-list.dash li {padding-left:1.2rem;}
.text-list.dash li:before {content:''; position:absolute; top:.8rem; left:0; width:.6rem; height:.1rem; background:#323232;}
.text-list.sm.dash li:before {top:0.7rem;}

.text-list.star li {padding-left:1.2rem;}
.text-list.star li:before {content:'*'; position:absolute; top:.4rem; left:0; line-height:1.4rem;}
.text-list.sm.star li:before {line-height:1.2rem;}

.text-list.count {counter-reset:list-number 0;}
.text-list.count li {padding-left:2rem;}
.text-list.count li:before {content:counter(list-number)'.'; counter-increment:list-number 1; position:absolute; top:.0; left:0;}
.text-list.sm.count li {padding-left:1.6rem;}

/* button */
.btn-wrap {display: flex; align-items: center; justify-content: center; gap:2rem; margin-top:4rem;}

.btn {display:inline-flex; align-items:center; justify-content:center; gap:.4rem; height: 4rem; padding:0 1rem; border:1px solid transparent; border-radius:.6rem; font-size:1.6rem; font-weight:500; line-height:4rem; vertical-align: middle;}
.btn.disabled,
.btn[disabled] {opacity:.5; pointer-events: none;}

.btn-xs {height:2.8rem; font-size:1.2rem; font-weight:400; line-height:2.8rem;}
.btn-sm {height:3.2rem; font-size:1.4rem; font-weight:400; line-height:3.2rem;}
.btn-lg {min-width:18rem; height:4.8rem; font-size:1.6rem; font-weight:600; line-height:4.8rem;}

.btn-primary {background-color:#9653f7; color:var(--fc-10);}
.btn-primary:hover {background-color:#7822f5; box-shadow: 0px 4px 12px 0px rgba(120,34,245,.35);}
.btn-secondary {color:var(--fc-03); border-color:#dbdfe9; background-color:#f9f9f9;}
.btn-secondary:hover {background-color:#fff; box-shadow: 0px 4px 12px 0px rgba(219,223,233,.35);}
.btn-light {color:var(--fc-03); border-color:#dbdfe9; background-color:#fff;}
.btn-light:hover {color:#9653f7; border-color:#9653f7;}
.btn-line {color:#9653f7; border-color:#9653f7; background-color:#f5efff;}
.btn-line:hover {color:var(--fc-10); background-color:#9653f7;}
.btn-line2 {color:var(--fc-03); border-color:#323232; background-color:#fff;}
.btn-line2:hover {color:#9653f7; border-color:#9653f7;}

/* icon */
i {display:inline-block;}
i[class^="icon"] {display:inline-block; vertical-align:middle; background-position:0 0; background-repeat: no-repeat; background-size:100%;}
.icon-arrow {width:1.8rem; height:1.8rem; background-image:url(/assets/images/icon/icon-arrow-18x18.svg);}
.icon-arrow02 {width:1.8rem; height:1.8rem; background-image:url(/assets/images/icon/icon-arrow02-18x18.svg);}
.icon-arrow03 {width:1.8rem; height:1.8rem; background-image:url(/assets/images/icon/icon-arrow03-18x18.svg);}
.icon-refresh {width:2.4rem; height:2.4rem; background-image:url(/assets/images/icon/icon-refresh.png);}

/* loader */
.load-screen {display:none; position: fixed; top:0; left:0; right:0; bottom:0; z-index:9999; display: flex; flex-direction: column; align-items: center; justify-content: center; background:rgba(255,255,255,0.75);}
.loader {position: relative; width:8rem; height:1.6rem;}
.loader span {position: absolute; top:0; left:0; z-index:1; width:1.6rem; height:1.6rem; border-radius: 50%;}
.loader .ball1 {background: #d05259; transform: translateX(0) scale(1); animation:ballMoveX1 2s linear infinite;}
.loader .ball2 {background: #2374ae; transform: translateX(3.2rem) scale(1); animation:ballMoveX2 2s linear infinite;}
.loader .ball3 {background: #77787b; transform: translateX(6.4rem) scale(1); animation:ballMoveX3 2s linear infinite;}
.load-screen p {margin-top:3rem; text-align: center;}

@keyframes ballMoveX1 {
    0% {transform: translateX(0) scale(1)}
    25% {transform: translateX(3.2rem) scale(0.8)}
    50% {transform: translateX(6.4rem) scale(1)}
    75% {z-index:2; transform: translateX(3.2rem) scale(1.3)}
    100% {transform: translateX(0) scale(1)}
}
@keyframes ballMoveX2 {
    0% {transform: translateX(3.2rem) scale(0.8)}
    25% {transform: translateX(6.4rem) scale(1)}
    50% {z-index:2; transform: translateX(3.2rem) scale(1.3)}
    75% {transform: translateX(0) scale(1)}
    100% {transform: translateX(3.2rem) scale(0.8)}
}
@keyframes ballMoveX3 {
    0% {transform: translateX(6.4rem) scale(1)}
    25% {z-index:2; transform: translateX(3.2rem) scale(1.3)}
    50% {transform: translateX(0) scale(1)}
    75% {transform: translateX(3.2rem) scale(0.8)}
    100% {transform: translateX(6.4rem) scale(0.8)}
}